*[class^="course-card-component"], *[class*=" course-card-component"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-semi-dark);
    min-width: 180px;
    min-height: 100px;
    padding: var(--space-2);
    border-radius: var(--border-radius-default);
    cursor: pointer;
    font-weight: var(--text-weight-bold);
}

.course-card-component:hover {
    background-color: var(--color-primary-light);
}

.course-card-component-selected {
    background-color: var(--color-primary-default);
}